extends layout

block content
  main
    .about-main
      p
        | Wine Pal is the best way to manage and track your wine collection in one single, secure web application. 
      p
        | Use filters to organize your wines by vintage, varietal, ageability, and other factors that truly add value and insight into your cherished collection.
      p
        | With the Notes feature, you can build your personalized wine journal and even assign scores to your favorite bottles.
      p
        | Wine Pal is a project of four students in the University of Kansas Full-Stack Web Development Bootcamp and utilizes a      number of technologies, including:
      p
        | JavaScript, MySQL, Sequelize, Express.js, Node.js, Sass, and Passport.js

      img(src="https://kuedwfsfpt082-gnd1744.slack.com/files/UMC4GMHMM/FSB4P12R5/image.png")        
      img(src="https://kuedwfsfpt082-gnd1744.slack.com/files/UMC4GMHMM/FRZ203WN5/image.png")        
      img(src="https://kuedwfsfpt082-gnd1744.slack.com/files/UMC4GMHMM/FSB4P12R5/image.png")        
      img(src="https://kuedwfsfpt082-gnd1744.slack.com/files/UMC4GMHMM/FSB4P12R5/image.png")        


      p
        | Please send all inquiries to Victor Uland @ https://github.com/vuduland

    .footer
      p Copyright 2020
      p All Rights Reserved

    .about-back
