extends layout

block content
  main
    .about-main
      p
        | Wine Pal is the best way to manage and track your wine collection in one single, secure web application. 
      p
        | Use filters to organize your wines by vintage, varietal, ageability, and other factors that truly add value and insight into your cherished collection.
      p
        | With the Notes feature, you can build your personalized wine journal and even assign scores to your favorite bottles.
      p
        | Wine Pal is a project of four students in the University of Kansas Full-Stack Web Development Bootcamp and utilizes a      number of technologies, including:
      p
        | JavaScript, MySQL, Sequelize, Express.js, Node.js, Sass, and Passport.js

      img(src="/images/sass.jpeg" height=50 width=50)        
      img(src="/images/seqluaize.jpeg" height=50 width=50)        
      img(src="/images/javaScript.jpeg" height=50 width=50)        
      img(src="/images/mysql.png" height=50 width=50)        
      img(src="/images/nodejs.png" height=50 width=50)        


      p
        | Please send all inquiries to Victor Uland @ https://github.com/vuduland

      img(src="/images/rico.jpeg" height=75 width=75)        
      img(src="/images/peter.jpeg" height=75 width=75)        
      img(src="/images/victor.jpeg" height=75 width=75)        
      img(src="/images/marc.png" height=75 width=75)        







    .footer
      p Copyright 2020 @ KUBCS
      p All Rights Reserved

    .about-back
