extends layout

block content
  main
    .intro
      h1 The best way to manage your wine collection
      .cta
        .left
          p Already a member?
          button.login-btn Log in
        .right
          p It's free to join!
          Button.signup-btn Sign up
  .hero-back