doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/style.css')
	body
		header
			.logo Wine Pal
			.menu-button

		block content
		//the rest of the .pug files are the 'block content' here. that is why they have extends layout at the top of the page.
		//we can do the same thing for a footer at the bottom of the page later.
