extends layout

block content
  main
    .add-notes
        form.add-notes-form(action="/api/add-notes" method="POST")

            .input-block
                input(name="wine" type="hidden" value=`${wine}`)
                label(for="notes") Purchase Date:
                input#purchase_date(type="text" name="purchase_date")
                label(for="notes") Personal Rating:
                input#personal_rating(type="text" name="personal_rating")
                label(for="notes") Notes:
                input#notes(type="text" name="notes")
            .input-block
            button(type="submit")


