extends layout

block content
  main
    .intro
      h1 Register!
      .cta
        .left
          form(action="/api/add-user" method="POST")
            label(for="email") E-mail:
            input#email(name="email" type="email")
            label(for="name") Name:
            input#name(name="name" type="text")
            label(for="password") Password:
            input#password(name="password" type="password")
            button(type="submit") Complete Registration
  .hero-back

            // input#email is pug shorthand for id
            // javascript comments work too
