@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box; }

html {
  width: 100%;
  min-width: 100vh;
  min-height: 100vh; }

body {
  margin: 0;
  background: #6d1a1a;
  color: #d8dab8;
  box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.705);
  min-height: 100vh;
  overflow-x: hidden; }

button.primary {
  margin: 20px 0px 0px 20px;
  background-color: #6d1a1a;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  float: right;
  color: #d8dab8;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0px 20px;
  border-bottom: 1px solid #b48a4b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6d1a1a;
  z-index: 100;
  height: 70px;
  box-shadow: inset 0px 0px 25px -5px rgba(0, 0, 0, 0.479); }
  header .logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px; }
    header .logo svg {
      height: 40px;
      display: block;
      fill: #b48a4b; }
  header .menu-button {
    padding: 10px 20px; }
    header .menu-button svg {
      fill: #b48a4b;
      height: 30px;
      width: 30px;
      display: block; }

.side-menu {
  position: fixed;
  display: flex;
  background: #00000060;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 200;
  transition: all 0.3s, opacity 0.5s; }
  .side-menu.closed {
    opacity: 0;
    pointer-events: none; }
    .side-menu.closed .side-menu-inner {
      transform: translateX(120%); }
  .side-menu .side-menu-inner {
    transition: all 0.3s;
    width: 300px;
    margin-left: auto;
    max-width: 400px;
    height: 100vh;
    background: #2b2222;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.356), inset 0px 0px 100px -5px rgba(0, 0, 0, 0.651);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .side-menu .side-menu-inner .close-menu {
      background: transparent;
      border: none;
      margin: 20px;
      margin-right: 30px;
      margin-left: auto; }
      .side-menu .side-menu-inner .close-menu svg {
        height: 30px;
        width: 30px;
        fill: #b48a4b; }
    .side-menu .side-menu-inner .profile-info {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .side-menu .side-menu-inner .name {
      color: #b48a4b;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px; }
    .side-menu .side-menu-inner .sign-out {
      background-color: transparent;
      border: 1px solid #b48a4b;
      color: #d8dab8;
      padding: 5px 20px;
      letter-spacing: 1px;
      text-decoration: none; }
      .side-menu .side-menu-inner .sign-out:hover {
        background-color: #b48a4b;
        color: #2b2222; }

main {
  margin-top: 70px; }

.hero-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/images/boxes-of-wines.jpg");
  filter: sepia(1) blur(3px) opacity(0.15);
  z-index: -1; }

.intro {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 60px auto; }
  .intro h1 {
    font-size: 70px; }
  @media (max-width: 600px) {
    .intro h1 {
      font-size: 30px; } }

.cta {
  text-align: center;
  display: flex;
  align-items: center; }
  .cta div {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    margin-top: auto; }
  .cta button {
    background-color: transparent;
    font-size: 20px;
    border-radius: 1000px;
    border: 2px solid #d8dab8;
    padding: 5px 50px;
    color: #d8dab8; }
  .cta .signup-btn {
    background-color: #d8dab8;
    color: #6d1a1a;
    border-radius: 5px;
    text-decoration: none;
    margin-top: auto;
    padding: 10px 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: #b48a4b; }

.add-wine {
  display: block;
  position: fixed;
  top: 70px;
  left: 0px;
  height: calc(100vh - 70px);
  width: 100%;
  background-color: #b48a4b;
  padding: 40px;
  overflow-y: auto;
  transition: all 0.3s; }
  .add-wine.hidden {
    opacity: 0;
    transform: translateX(120%); }
  .add-wine .add-wine-inner {
    max-width: 600px;
    margin: 20px auto; }
  .add-wine label,
  .add-wine input {
    display: block;
    width: 100%;
    padding: 5px; }
  .add-wine input {
    background: rgba(216, 218, 184, 0.3);
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid #6d1a1a; }
  .add-wine label {
    color: #6d1a1a;
    font-weight: 700;
    margin-top: 20px; }
  .add-wine h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #6d1a1a; }
  .add-wine .two-col {
    display: flex;
    justify-content: space-between; }
    .add-wine .two-col > div {
      flex-basis: calc(50% - 20px); }

.dash-top {
  display: flex;
  border-bottom: 1px solid #b48a4b; }
  @media (max-width: 800px) {
    .dash-top {
      flex-direction: column; } }
  .dash-top h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #b48a4b; }
  .dash-top .dash-main {
    flex-basis: 50%;
    min-height: 50vh;
    border-right: 1px solid #b48a4b; }
    .dash-top .dash-main .overview {
      padding-bottom: 30px;
      border-bottom: 1px solid #b48a4b;
      padding: 20px 30px; }
    .dash-top .dash-main .recent-notes {
      padding: 20px 30px;
      padding-top: 20px;
      background-color: #00000015;
      box-shadow: inset 0px 0px 50px -5px #00000094; }
      .dash-top .dash-main .recent-notes .note {
        border-left: 1px solid #b48a4b;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.178);
        background-color: #6d1a1a;
        padding: 10px 20px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column; }
        .dash-top .dash-main .recent-notes .note .note-date {
          color: #b48a4b;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px; }
        .dash-top .dash-main .recent-notes .note .note-wine {
          color: #b48a4b;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;
          margin-left: auto; }
          .dash-top .dash-main .recent-notes .note .note-wine span {
            margin: 0px 3px; }
    .dash-top .dash-main .metrics {
      max-width: 500px;
      margin: 50px auto; }
      .dash-top .dash-main .metrics .row {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #b48a4b; }
        .dash-top .dash-main .metrics .row .label {
          color: #b48a4b;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px; }
  .dash-top .dash-list {
    flex-basis: 50%;
    padding: 20px 30px;
    padding-left: 60px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #00000010;
    box-shadow: inset 0px 0px 50px -5px #00000070; }
    .dash-top .dash-list #dicks, .dash-top .dash-list #dicks > option {
      line-height: 2;
      background-color: #6d1a1a;
      border: 1px solid #b48a4b;
      margin-bottom: 25px;
      color: #d8dab8;
      padding: 5px 25px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 700; }
    .dash-top .dash-list .listing {
      background: #d8dab8;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.178);
      border-radius: 6px;
      color: #6d1a1a;
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 40px;
      margin-bottom: 15px; }
      .dash-top .dash-list .listing p,
      .dash-top .dash-list .listing h3,
      .dash-top .dash-list .listing h4 {
        margin: 0; }
      .dash-top .dash-list .listing > div {
        margin: 20px 10px; }
      .dash-top .dash-list .listing .quantity {
        display: block;
        position: absolute;
        left: 0;
        margin: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 1000px;
        background: #b48a4b;
        width: 60px;
        height: 60px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.301); }
        .dash-top .dash-list .listing .quantity p {
          font-size: 20px;
          font-weight: 700;
          color: #d8dab8;
          padding: 10px;
          position: relative;
          z-index: 3; }
        .dash-top .dash-list .listing .quantity span {
          font-size: 7px;
          color: #6d1a1a;
          display: block;
          position: absolute;
          font-weight: 700;
          right: -25px;
          text-transform: uppercase;
          transform: rotate(-90deg); }
      .dash-top .dash-list .listing .title {
        padding: 10px;
        flex-basis: 30%;
        flex-shrink: 0; }
        .dash-top .dash-list .listing .title h3 {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 700; }
        .dash-top .dash-list .listing .title h4 {
          font-weight: 400; }
      .dash-top .dash-list .listing .details {
        border-left: 1px solid #6d1a1a;
        margin-left: 10px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 1.7; }
        .dash-top .dash-list .listing .details strong {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 12px;
          margin-right: 5px; }
      .dash-top .dash-list .listing .actions {
        margin: 10px 3px;
        padding: 5px 0px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 120px;
        justify-content: space-between; }
        .dash-top .dash-list .listing .actions button {
          background-color: transparent;
          border: none;
          display: flex;
          align-items: center;
          background: #6d1a1a;
          border-radius: 1000px;
          height: 30px;
          width: 30px;
          margin: 3px 10px;
          flex-shrink: 0; }
          .dash-top .dash-list .listing .actions button:hover {
            background: #b48a4b; }
          .dash-top .dash-list .listing .actions button svg {
            height: 20px;
            width: 20px;
            fill: #d8dab8; }
        .dash-top .dash-list .listing .actions .add-minus {
          display: flex; }
        .dash-top .dash-list .listing .actions * {
          margin-left: auto !important; }
    .dash-top .dash-list .add-wine-button {
      margin-top: auto;
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #b48a4b;
      border: none;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.178);
      padding: 5px 30px;
      border-radius: 10px; }
      .dash-top .dash-list .add-wine-button p {
        color: #6d1a1a;
        font-weight: 700;
        text-transform: uppercase; }
      .dash-top .dash-list .add-wine-button svg {
        margin-right: 10px; }
        .dash-top .dash-list .add-wine-button svg path {
          fill: #6d1a1a; }

.add-note {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00000090; }
  .add-note.hidden {
    display: none; }
  .add-note .add-note-inner {
    background-color: #b48a4b;
    padding: 30px;
    margin-top: -70px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px; }
    .add-note .add-note-inner h2 {
      color: #6d1a1a;
      text-transform: uppercase;
      letter-spacing: 2px; }
  .add-note form {
    width: 100%; }
  .add-note .input-block label,
  .add-note .input-block input {
    display: block;
    color: #6d1a1a;
    width: 100%; }
  .add-note .input-block input {
    background-color: #d8dab8;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.178);
    border: none; }
  .add-note .input-block label {
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700; }
  .add-note .input-block textarea {
    background-color: #d8dab8;
    color: #6d1a1a;
    padding: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.178);
    border: none;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    resize: none; }

.single-wine {
  padding-top: 50px; }
  .single-wine .inventory {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #b48a4b;
    font-size: 12px;
    vertical-align: middle; }
    .single-wine .inventory .quantity {
      font-size: 20px;
      font-weight: 700; }
  .single-wine .single-wine-details {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #b48a4b;
    border-bottom: 1px solid #b48a4b; }
    .single-wine .single-wine-details .vintage {
      font-size: 20px;
      color: #b48a4b;
      letter-spacing: 3px; }
    .single-wine .single-wine-details .producer {
      font-size: 45px;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 7px; }
    .single-wine .single-wine-details .varietal {
      letter-spacing: 1px;
      font-weight: 400;
      color: #b48a4b; }
  .single-wine .single-wine-top {
    padding-bottom: 20px; }
  .single-wine .single-wine-bottom {
    margin-top: 20px;
    background-color: #00000020;
    padding: 20px 0;
    box-shadow: inset 0px 0px 50px -5px #00000094; }
  .single-wine .notes {
    max-width: 600px;
    margin: 20px auto; }
    .single-wine .notes h2 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #b48a4b; }
    .single-wine .notes .note {
      padding: 20px 30px;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.178);
      border-left: 1px solid #b48a4b;
      margin-bottom: 25px;
      background-color: #6d1a1a; }
      .single-wine .notes .note .date {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #b48a4b;
        font-size: 12px;
        font-weight: 700; }

/*# sourceMappingURL=style.css.map */