extends layout

block content
  main
    .intro
        //- h1 Your notes on #{listing.Wines.id}:
        .cta
            .left
                form(action="/api/add-notes" method="POST")
                    label(for="purchased") Purchase Date:
                    input#purchase(type="date" name="purchase_date")
                    label(for="wine") Wine:
                    input#wine(type="text"name="wine" type="hidden"value=`${wine}`)
                    label(for="rating") Personal Rating:
                    input#rating(type="number" name="rating")
                    label(for="notes") Notes:
                    input#notes(type="text" name="notes")
                    button(type="submit")


